h1 {
  text-align: center;
}
p {
  margin-top: 0;
}
ul {
  list-style: none;
  padding: 0;
}
ul.city-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  min-width: 400px;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #07051a;
  color: white;
}

form {
  transform: translate(0%, 50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover,
form:valid {
  width: 200px;
  cursor: pointer;
}
.wide {
  width: 200px;
  cursor: pointer;
}
form:hover input,
form:valid input {
  display: block;
}

form:hover .fa,
form:valid .fa {
  background: #07051a;
  color: white;
}

.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 15px solid rgba(255, 255, 255, 0.1);
  border-top-color: #09d;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
